body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #020617, #0f172a);
    color: white;
}

/* Center Box */
.auth-container {
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    background: #1e293b;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

/* Heading */
h2 {
    color: #38bdf8;
    margin-bottom: 10px;
}

.subtitle {
    color: #94a3b8;
    margin-bottom: 20px;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    outline: none;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    background: #22c55e;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #16a34a;
}

/* Links */
.links {
    margin-top: 15px;
}

.links a {
    display: block;
    color: #38bdf8;
    text-decoration: none;
    margin-top: 5px;
}